.mobile {
  position: relative;
  height: 100%; width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.mobile > header {
  position: static;
  height: 4rem;
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: auto auto 1fr 50px;
  place-items: center;
  z-index: 8;
}

.mobile > header > .title {
  margin: 0; padding: 0;
  font-size: 1.6rem;
}

.mobile > header .btn {
  padding: 0; margin: 0;
  min-width: 50px;
  min-height: 50px;
  border-radius: 5px;
}

.mobile > header .btn .icon,
.mobile > footer .btn .icon {
  padding: 0; margin: 0;
}

.mobile > header .aside-menu,
.mobile > header .options-menu {
  position: absolute;
  top: 4rem;
}

.mobile > header .aside-menu {
  left: 0; bottom: 0;
  width: 100%; max-width: 300px;
  display: grid;
  align-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9;
}

.mobile > header .aside-menu .wrapper_container {
  width: 100%;
}

.mobile > header .aside-menu .profile .card-body.text-center {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.mobile > header .options-menu {
  display: grid;
  right: 0;
  min-width: 200px;
  z-index: 8;
}

.mobile > main {
  display: block;
  padding: 1rem;
  overflow-y: auto;
}

.mobile > main .main-cover {
  position: fixed;
  content: '';
  top: 4rem; bottom: 0;
  left: 0; right: 0;
  z-index: 7;
}

@media screen and (max-width: 340px) {
  .mobile > header .aside-menu {
    max-width: 100%;
  }
}

::slotted([slot='options']) {
  display: grid;
  padding: 0 !important;
}

::slotted([slot='footer']) {
  display: flex;
  height: 4rem;
  margin-bottom: -5px; padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
}

:host([disable-header]) .mobile {
  grid-template-rows: 1fr auto;
}

:host([disable-sidebar]) .mobile > header {
  padding-left: 50px;
}

:host([disable-sidebar][enable-back]) .mobile > header {
  padding-left: 0;
}
